.Presentacion{
    border: solid black 1px;
    width: 80%;
    background-color: #b1efb1;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

nav button{
        border: solid black 1px;
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: #bfb;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-weight: bolder;
    text-align: center;  
    line-height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

nav button:hover{
    transition: 0.5s ease;
    background-color: #ada;
}

.Contenedor{
    border: solid black 1px;
    width: 70%;
    justify-items: center;
    background: linear-gradient(to right, #8d8,#9e9);
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    justify-self: center;
}


.Presentacion p{
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
}

.Presentacion h6{
    background-color: #4b45;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-size: 22px;
    margin: 10px;
    justify-self: center;
    border: solid black 1px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9e96;
    background-image: url(../../images/fondo_huellas_perro.png);
    background-repeat: repeat;
    font-family: sans-serif;
    justify-content: center;
}

nav{
    border: solid black 1px;
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
    padding: 10px 20px;
    width: 70%;
    background-color: #94ef94ff;
    border-radius: 10px;
    justify-self: center;
}

#Menu{
    justify-content: left;
}

.Desplegable{
    opacity: 0;
    visibility: none;
}


.Desplegable.visible{
    opacity: 1;
    float: left;
    background-color: #ddd;
    padding: 15px;
}


.Selector{
    opacity: 0;
    visibility: none;
    display: none;
}


.Selector.visible{
    opacity: 1;
    visibility: visible;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
}

nav a{
    border: solid black 1px;
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: #bfb;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-weight: bolder;
    text-align: center;  
    line-height: 30px;
    font-size: 14px;
}


.Principal a{
    font-size: 25px;
    font-family: "Lucida Handwriting", "Dancing Script", cursive;
}

nav a:hover{
    transition: 0.5s ease;
    background-color: #ada;
}

.menu-container {
    position: relative;
    display: inline-block;
}
.menu-button {
    background-color: #7c7;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 15px 0 0;
}
.menu-button:hover {
    transition: 0.5s ease;
    background-color: #9d9;
}
.menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 150px;
    margin-top: 5px;
    padding: 5px 0;
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    body{
        width: 700px;
    }
    nav {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    text-align: center;
    }

    nav a {
    font-size: 18px;
      margin: 8px 0;
    }
  
    .Principal a {
      font-size: 20px;
    }
  
    .Presentacion {
      width: 90%;
      padding: 20px;
    }
  
    .Presentacion p,
    .Presentacion h6 {
      font-size: 16px;
      padding: 10px;
      margin: 10px auto;
      width: 400px;
      text-align: center;
    }

    .Presentacion h6{
        width: 75%;
    }
  
    .Contenedor {
      width: 450px;
      padding: 15px;
      margin: 20px auto;
    }
  
    .menu-container {
        display: block;
        text-align: center;
    }
    
    .menu-button {
    font-size: 14px;
    padding: 8px;
    width: 150px;
    }
    
    .menu {
        position: static;
        width: 150px;
        margin: 10px auto;
        box-shadow: none;
    }
    
    .menu a {
        font-size: 16px;
        padding: 10px;
    }
}