body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9e96;
    background-image: url(../../images/fondo_huellas_perro.png);
    background-repeat: repeat;
    font-family: sans-serif;
    justify-content: center;
        justify-items: center;
}

nav{
    border: solid black 1px;
    display: grid;
    grid-template-columns: 35% repeat(3, 22%);
    padding: 10px 20px;
    width: 70%;
    background-color: #94ef94ff;
    border-radius: 10px;
}

nav a{
    border: solid black 1px;
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: #bfb;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-weight: bolder;
    text-align: center;  
    line-height: 30px;
}


.Principal a{
    font-size: 25px;
    font-family: "Lucida Handwriting", "Dancing Script", cursive;
}

nav a:hover{
    transition: 0.5s ease;
    background-color: #ada;
}



.Presentacion{
    border: solid black 1px;
    width: 80%;
    background-color: #b1efb1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-items: center;
}

.Presentacion h4{
    width: 60%;
    text-align: center;
    border: solid black 1px;
    padding: 10px;
    margin: 2px;
    margin: 10px 15px 20px;
    background-color: #8d8;
    border-radius: 15px;
}

.Presentacion input{
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 250px;
}

.Texto{
    border-radius: 15px;
    border: solid black 1px;
    padding: 7px;
}

.Contenedor{
    border: solid black 1px;
    width: 70%;
    justify-items: center;
    background: linear-gradient(to right, #8d8,#9e9);
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    min-height: 400px;
}

p{
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

input[type="text"]{
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
  width: 215px;
}

button:hover{
  transition: 0.5s ease;
  background-color: #ddd;
}

#Texto{
  display: none;
  background-color: #eee;
  padding: 5px;
  margin-top: 15px;
  border-radius: 15px;
  width: 75%;
}

button{
  width: 250px;
  padding: 5px;
  margin: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.Archivo{
  justify-items: center;
}

.Archivo h4{
  background-color: #8d8;
  padding: 5px;
  margin: 20px;
  border-radius: 15px;
  border: black solid 1px;
  width: 250px;
}
@media (max-width: 768px) {
    body{
      width: 700px;
    }
    nav {
      display: flex;      
      flex-direction: column;
      width: 500px;
      text-align: center;
    }
  
    nav a {
      font-size: 18px;
    }
  
    .Principal a {
      font-size: 20px;
    }
  
    .Presentacion {
      width: 400px;
      padding: 15px;
    }
  
    .Presentacion h4 {
      width: 90%;
      font-size: 16px;
    }
  
    .Presentacion input {
      width: 100%;
      margin: 10px 0;
    }
  
    .Contenedor {
      width: 450px;
      padding: 15px;
      margin: 20px auto;
      min-height: auto;
    }
  
    .Archivo::before {
      font-size: 14px;
      padding: 5px;
    }
  
    input[type="file"] {
      width: 100%;
      height: 30px;
    }
  
    input[type="submit"] {
      width: 50%;
      margin-top: 20px;
      font-size: 16px;
    }
  
    p {
      font-size: 14px;
    }
  }
  