body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #9e96;
    background-image: url(../../images/fondo_huellas_perro.png);
    background-repeat: repeat;
    font-family: sans-serif;
    justify-content: center;
        justify-items: center;
}

nav{
    border: solid black 1px;
    display: grid;
    grid-template-columns: 35% repeat(3, 22%);
    padding: 10px 20px;
    width: 70%;
    background-color: #94ef94ff;
    border-radius: 10px;
}

.Presentacion{
    border: solid black 1px;
    width: 80%;
    background-color: #b1efb1;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.Presentacion p{
    margin: 5px;
    font-size: 18px;
}

.Presentacion h4{
    font-size: 18px;
    text-align: center;
    margin: 5px 10px 20px;
    background-color: #8d8;
    width: 40%;
    justify-self: center;
    padding: 8px;
    border: black solid 1px;
    border-radius: 15px;
}

.Contenedor{
    border: solid black 1px;
    width: 70%;
    justify-items: center;
    background: linear-gradient(to right, #8d8,#9e9);
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
}


nav a{
    border: solid black 1px;
    text-decoration: none;
    display: block;
    margin: 10px;
    background-color: #bfb;
    padding: 8px;
    border-radius: 10px;
    color: #000;
    font-weight: bolder;
    text-align: center;  
    line-height: 30px;
}


.Principal a{
    font-size: 25px;
    font-family: "Lucida Handwriting", "Dancing Script", cursive;
}

nav a:hover{
    transition: 0.5s ease;
    background-color: #ada;
}


@media (max-width: 768px) {
    body{
      width: 700px;
    }
    nav { 
      display: flex;
      flex-direction: column;
      width: 400px;
      text-align: center;
    }
  
    nav a {
      font-size: 18px;
    }
  
    .Principal a {
      font-size: 20px;
    }
  
    .Presentacion {
      width: 350px;
      padding: 15px;
    }
  
    .Presentacion h4 {
      width: 80%;
      font-size: 16px;
      margin: 10px auto;
    }
  
    .Contenedor {
      width: 400px;
      margin: 20px auto;
      padding: 15px;
    }
  
    .Presentacion p {
      font-size: 13px;
    }
  }
  